<h1>About Us... </h1>

<p>
  <%= @about_me %>
</p>

<p>
  <%# <% @answer = 4 %>
  <%# 2 + 2 = <%= @answer %>  
  <%# want to extact this code away from views.  Keep it in controller and pass it using instance varliables %>
</p>